@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>I mean... there's really nothing here.</h1>
    <p>I made this thing so I can consume a REST web service made w/ Java. The data is fetched in the backend via a CarService</p>
</div>
